.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-container .background{
  background-color: #071836;
}

.forgot-box {
  display: flex;
  background: white;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 55%;
  justify-content: space-between;
  font-family: 'outfit', sans-serif;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 22px;
}

.forgot-form .forgot-title {
  margin-top: 0;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  
}

.forgot-form p {
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 5px;
}
.forgot-form .head  {
  font-weight: bold;
}
.forgot-form input {
  padding: 8px;
  margin: 5px 0; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: outfit, sans-serif;
  font-size: 18px;
}

.reset-btn {
  background-color: #f8a13e;
  border: 1px solid #ccc;
  color: white;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

.reset-btn:hover {
  background-color: #e28b2c;
}

.login-text {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.login-text a {
  color: #007bff;
  text-decoration: none;
}

.forgot-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .forgot-box {
    flex-direction: column; /* Stack content vertically on mobile */
    width: 90%; /* Ensure form box is responsive */
    padding: 20px; /* Adjust padding for mobile */
  }

  .forgot-form {
    width: 100%; 
  }

  .forgot-image {
    display: none;
  }

  .forgot-container .logo1 {
    font-size: 5vw;
    margin-bottom: 4vh;
  }

  .reset-btn {
    padding: 8px; /* Adjust padding for smaller screens */
    font-size: 4vw; /* Adjust font-size for smaller screens */
    width: 100%; /* Ensure full width on smaller screens */
  }
  .forgot-form p,
  .forgot-form input {
    font-size: 4vw; /* Adjust font-size for smaller screens */
  }
}

